<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel ="tests" thread-count="10">
<listeners>

<listener class-name="test.Listeners"/>
</listeners>
 
  <test name="Personal Loan" parallel="classes" thread-count="3">  <!-- parallel execution of classes -->
    <classes>
      <class name="test.day1">
      <methods>
       <include name = "firstTestCase"/>
       
      </methods>
      
      </class>
      <class name="test.day2"/>
      
      </classes>
  </test> <!-- Test -->
  
  
  <test name = "Car Loan">
  	<classes>
  		<class name="test.day3">
  		<methods>
  		<include name="mobile.*"/> 
  		
  		</methods>
  		
  		</class>
  	
  	 </classes>  
  
  </test>
</suite> <!-- Suite -->
